# Dependencias de Node.js
node_modules/
npm-debug.log*

# Variables de entorno y secretos (MUY IMPORTANTE)
.env
.env.local

# Archivos del sistema operativo (evita basura de Windows o Mac)
.DS_Store
Thumbs.db